/* ===== LEFT SIDEBAR ===== */
@media (max-width: 991.98px) {
  .side-menu {
    position: fixed;
    bottom: 0;
    height: 60px;
    min-width: 100%;
    min-height: auto;
    display: block;
    border-top: 1px solid var(--bs-border-color);
  }
}
@media (max-width: 991.98px) {
  .side-menu .navbar-brand-box {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .side-menu-nav .nav-item {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 5px 0;
  }
}
@media (max-width: 991.98px) {
  .side-menu-nav .nav-item .nav-link {
    font-size: 20px;
    width: 48px;
    height: 48px;
    line-height: 48px;
  }
}

/* ===== RIGHT SIDEBAR ===== */
